.DS_Store
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
Homestead.yaml.*
venio_key
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.editorconfig
/.mech
/api/spec/generated-output
