<?php

/**
 * Konnex Integrations IntelliFlo Leads API
 * <p>A simple API that wraps the IntelliFlo Leads API.</p><p>NOTE: In order to use this Integrations API, users must have a paid IntelliFlo subscription and an active Tenant ID for OAuth2 Authentication. <p>For further information please refer to the <a href=\"https://developer.intelliflo.com\">IntelliFlo Developer Documentation</a>.</p>
 *
 * OpenAPI spec version: 1.0.0
 * Contact: info@konnex-engine.io
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Source files are located at:
 *
 * > swagger-codegen/modules/swagger-codegen/src/main/resources/php-laravel/
 */

/**
 * post createLead
 * Summary: Creates a new Lead
 * Notes: Creates a new IntelliFlo Lead and return the Lead object.
 * Output-Formats: [application/json, application/xml]
 */
Route::post('/v1/integrations/intelliflo/leads', 'LeadsController@createLead');
/**
 * get getLeads
 * Summary: Returns an array of Lead objects
 * Notes: Retrieve a list of all existing leads.
 * Output-Formats: [application/json, application/xml]
 */
Route::get('/v1/integrations/intelliflo/leads', 'LeadsController@getLeads');
/**
 * head checkLeadExists
 * Summary: Check if a Lead exists
 * Notes: Check if a lead exists by Lead ID

 */
Route::head('/v1/integrations/intelliflo/leads/{leadID}', 'LeadsController@checkLeadExists');
/**
 * delete deleteLead
 * Summary: Check if a Lead exists
 * Notes: Check if a lead exists by Lead ID

 */
Route::delete('/v1/integrations/intelliflo/leads/{leadID}', 'LeadsController@deleteLead');
/**
 * get getLead
 * Summary: Return a specific Lead object by ID
 * Notes: Retrieve data on a specific Lead by ID
 * Output-Formats: [application/json, application/xml]
 */
Route::get('/v1/integrations/intelliflo/leads/{leadID}', 'LeadsController@getLead');
/**
 * put updateLead
 * Summary: Update Lead
 * Notes: Update a Lead by Lead ID

 */
Route::put('/v1/integrations/intelliflo/leads/{leadID}', 'LeadsController@updateLead');

